version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: monthly
  open-pull-requests-limit: 10
  target-branch: master
  labels:
  - dependency_updates
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: monthly
  target-branch: master
  labels:
    - CI
