### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# VSCode project settings
.vscode

# mkdocs documentation
/site

# pytest
.pytest_cache/

# Mac
.DS_Store
.idea/

# Package-specific
local_openapi.json
local_index_openapi.json
logs
